    <section class="wrappersidebar clearfix">
        <section class="wrapperitem">
            <div class="navtitel">
                <p>Soorten</p>
            </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&wijn=rood">Rode wijnen</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&wijn=wit">Witte wijnen</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&wijn=rose">Rosé wijnen</a>
                    </nav>
                </div>
        </section> 
        <section class="wrapperitem">
            <div class="navtitel">
                <p>Landen</p>
            </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&land=Frankrijk">Frankrijk</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&land=Spanje">Spanje</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&land=Italie">Italië</a>
                    </nav>
                </div>
        </section>
        <section class="wrapperitem">        
            <div class="navtitel">
                <p>Jaartallen</p>
            </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&jaar=2010">2010</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&jaar=2011">2011</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&jaar=2012">2012</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&jaar=2013">2013</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&jaar=2014">2014</a>
                    </nav>
                </div>
                <div class="navigatie">
                    <nav class="link">
                        <a href="product.php?action=select&jaar=2015">2015</a>
                    </nav>
                </div>
        </section>   
    </section>
       
       
        
        
    
