<!DOCTYPE HTML>
<!-- scr/WijnshopTest/Presentation/Index.twig --> 
 
    <head> 
        <meta charset=utf-8> 
        <title>Overzicht</title> 
        <link rel="stylesheet" href="css/styling.css">
    </head> 
    <body> 
        <section class="wrappercontent">
        <h1>Overzicht</h1>
        {% for wijn in wijnen %}   
        <div>
        {{wijn.getNaam}} 
        </div><br />   
        {%endfor%}
        </section>
        
        
    </body>