<!DOCTYPE HTML>
<!-- scr/WijnshopTest/Presentation/Login.twig --> 
 
    <head> 
        <meta charset=utf-8> 
        <title>Login</title> 
        <!--<link rel="stylesheet" href="css/styling.css">-->
    </head> 
    <body>
        <h1>Login</h1>
        <form method="post" action="login.php?action=aanmelden"> 
            <table> 
                <tr> 
                    <td>Email : </td> 
                    <td> 
                        <input type="text" name="txtEmail" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td>Paswoord : </td> 
                    <td> 
                        <input type="password" name="txtWachtwoord" /> 
                    </td> 
                </tr> 
                <tr> 
                    <td></td> 
                    <td> 
                        <input type="submit" value="Aanmelden" /> 
                    </td> 
                </tr> 
            </table> 
        </form>  
    </div>
       <!-- {% if errorLogin %}
            <p>Foutieve login !</p><br />
        {% endif %} -->

        
    </body
