<!DOCTYPE HTML>
<!-- src/WijnshopTest/Presentation/Registreren.twig --> 
 
    <head> 
        <meta charset=utf-8> 
        <title>Registreren</title> 
        <link rel="stylesheet" href="css/styling.css">
    </head> 
    <body> 
        <section class="wrappercontent">
        <h1>Registreren</h1>
        
        <div>
            <form method="post" action="registreren.php?action=registreer"> 
                Naam : <input type ="text" name="naam"><br /><br />
                Voornaam : <input type ="text" name="voornaam"><br /><br />
                Straat : <input type ="text" name="straat"><br /><br />
                Nr : <input type ="text" name="nr"><br /><br />
                Postcode : <input type ="text" name="postcode"><br /><br />
                Gemeente : <input type ="text" name="gemeente"><br /><br />
                E-mail : <input type="email" name="email"><br /><br />
                Wachtwoord : <input type ="password" name="wachtwoord"><br /><br />
                
                
                <input type="submit" value=" Registreren">
                
            </form>
        </div>
        <div>
            {%if%}
                
            {%endif%}
        </div>
        </section>
        
        
    </body>
