<!DOCTYPE HTML>
<!-- src/WijnshopTest/Presentation/Registreren.twig --> 
 
    <head> 
        <meta charset=utf-8> 
        <title>Wijn</title> 
        <link rel="stylesheet" href="css/styling.css">
    </head> 
    <body> 
        <section class="wrappercontent">
        <h1>Wijn toevoegen</h1>
        <br /><br />
        <div>
            <form method="post" action="test.php?action=test"> 
                Naam : <input type ="text" name="naam"><br /><br />
                Jaartal : <input type ="text" name="jaartal"><br /><br />
                Land : <input type ="text" name="land"><br /><br />
                Cat : <input type ="text" name="cat"><br /><br />
                Image : <input type ="text" name="image"><br /><br />
                Artcode : <input type ="text" name="artcode"><br /><br />
                Prijs : <input type="text" name="prijs"><br /><br />
                
                
                <input type="submit" value=" submit">
                
            </form>
        </div>
        </section>
        
        
    </body>
